# API Laravel
NEXT_PUBLIC_API_URL=https://votre-domaine.com
NEXT_PUBLIC_END_POINT=api
NEXT_PUBLIC_WEB_URL=https://www.revival-talk.com

# SEO / Analytics
NEXT_PUBLIC_SEO=true
NEXT_PUBLIC_MEASUREMENT_ID=
NEXT_PUBLIC_WEB_VERSION=3.2.1
NEXT_PUBLIC_LOAD_MIN=30

# Firebase (requis pour connexion et notifications)
NEXT_PUBLIC_API_KEY=
NEXT_PUBLIC_AUTH_DOMAIN=
NEXT_PUBLIC_PROJECT_ID=
NEXT_PUBLIC_STORAGE_BUCKET=
NEXT_PUBLIC_MESSAGING_SENDER_ID=
NEXT_PUBLIC_APP_ID=
NEXT_PUBLIC_MEASUREMENT_ID=
NEXT_PUBLIC_VAPID_KEY=
